In [3]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [56]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'smu information systems'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2010-01-01 until:2022-03-17').get_items()):
#     if i > 100:
#         break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [57]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-03-07 10:58:53+00:00,1500788067661197317,I'm at SMU School Of Information Systems in Si...,z_mie
1,2022-01-24 04:01:18+00:00,1485462689963032578,@JoshuaBaer @CarnegieMellon @TAMU I graduated ...,meetdliu
2,2021-12-16 15:41:18+00:00,1471505723779518468,The Singapore Management University will provi...,bukola_beckley
3,2021-10-20 06:50:43+00:00,1450716088111538176,Students of SMU School of Computing and Inform...,UnaBizIoT
4,2021-09-13 04:30:02+00:00,1437272336244297729,To welcome the new generation of forward-think...,TranSwap
...,...,...,...,...
655,2010-03-18 07:25:28+00:00,10660660716,BP meeting — at SMU School of Information Syst...,shermgc
656,2010-03-16 09:40:50+00:00,10562757746,I'm at SMU School of Information Systems in Si...,shermgc
657,2010-03-16 04:17:31+00:00,10553573616,EI Class — at SMU School of Information System...,shermgc
658,2010-01-31 22:36:11+00:00,8468889868,RT @frommoneyorg: SMU School of Information Sy...,halifaxtweeters
659,2010-01-08 01:54:10+00:00,7501115068,@pizpix i'm in information systems mgmt at SMU...,wilfredphua

In [55]:
tweets_df2.to_csv('smu computing.csv', index=False)

In [60]:
df1 = pd.read_csv('smu ntu nus sim IT.csv')
df2 = pd.read_csv('smu ntu nus sim.csv')
df3 = pd.read_csv('smu vs nus vs ntu vs sim.csv')
df4 = pd.read_csv('smu vs nus vs ntu.csv')

In [62]:
frames = [df1, df2, df3, df4]

result = pd.concat(frames)

final_csv = result.drop_duplicates()
final_csv.to_csv('final_tweets.csv', index=False)